<html>
    <head>
        <title>Mock Blog</title>
    
        <!--Semantic UI CDN-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        
        <!--Personal CSS-->
        <link rel="stylesheet" type="text/css" href="/stylesheets/css/app.css">
    </head>
        
    <body>
        
    <!--Menu bar -->
    <div class="ui container">
    <div class="ui stackable secondary huge menu">
      <div class="header item">
          <i class="camera retro icon"></i>
          Mock Blog
      </div>
      <a href="/" class="item">
        Home
      </a>
      <a href="/blogs/new" class="item">
        New Post
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input id="search-field" type="text" placeholder="Search...">
            <i id="search-button" class="search link icon"></i>
          </div>
        </div>
        <a class="ui item active" id="login">
          Login
        </a>
      </div>
    </div>
    </div>