<% include partials/header %>



<div class="ui container">
    <h1>Blog Posts</h1>
    <div class="ui three column doubling stackable masonry grid">
        
        <% blogs.forEach(function(blog){ %>
        
            <!-- Link that sends you to show with the right info -->
            <div class="column">
                <div class="ui fluid card">
                    
                        <img src="<%= blog.image %>">
                    </a>
                    <div class="content">
                        <div class="header"> <%= blog.title %> </div>
                        <div class="description">
                            <%- blog.body.substring(0,100)%>...
                        </div>
                        <div class="meta">
                            <a><%= blog.created.toDateString() %></a>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>  
</div>

<% include partials/footer %>

<!-- Use for loop and conditionals to only create one column and order correctly -->
<%// for (let i = 0;)
//              if (i % 3 == 0){
                
//             }
//             if (i % 3 == 1){
                
//             }
//             if (i % 3 == 2){
                
//             } %>