i.camera {
  font-size: 3rem; }

.post-date {
  color: grey; 
}

.grid-sizer,
.grid-item {
  float: left;
  width: 25%;
  height: auto;
  margin: .5% 0%;
  padding: 0% .5%;
  -webkit-transition: margin .25s; /* Safari */
  transition: margin .25s;
}

.grid-sizer:hover, .grid-item:hover {
  margin-top: 0%;
  margin-bottom: 1%;
}

.card:hover {
  box-shadow: 0px 5px 5px grey;  
}


#login:hover,
#search-field:hover,
#search-button:hover {
  cursor: not-allowed;
}

/* Responsive Design w/ Bootstrap breakpoints */
@media screen and (max-width: 1280px) {
  /* 3 columns up to laptop and smaller desktop screens */
  .grid-sizer { width: 33%; }
}

@media screen and (max-width: 991px) {
  /* 2 columns for smaller, tablet-like screens */
  .grid-sizer { width: 50%; }
}

@media screen and (max-width: 768px) {
  /* 1 column for smallest screens and mobile */
  .grid-sizer { width: 100%; }
}